<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="testBean"
          class="tatar.mackshchim.spring0.TestBean">
        <constructor-arg value="Mackshchim"/>
    </bean>

    <bean id="cartoonBean"
          class="tatar.mackshchim.spring0.Cartoon">
        <constructor-arg index="0" value="001"/>
        <constructor-arg index="1" value="Падал прошлогодний снег"/>
    </bean>

    <bean id="videoPlayerBean"
          class="tatar.mackshchim.spring0.VideoPlayer">
          <property name="current" ref="cartoonBean"></property>
    </bean>


</beans>